.home-layout {
  display: block;
}
.management_invoi {
  height: 600px;
  width: 100%;
}
.management_invoi_head {
  color: var(--bg-content-page);
  background-color: var(--main-color-2);
  padding: 0 50px;
  padding-top: 30px;
}
.management_invoi_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.management_invoi_title h3 {
  font-size: 30px;
  font-weight: 100;
}
.management_invoi_title .add_button {
  font-size: 16px;
  color: var(--secondary-color);
  background-color: #04589c;
  border: 1px solid #04589c;
  padding: 5px;
  cursor: pointer;
}
.management_invoi_title .add_button:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
.management_invoi_swap ul {
  display: flex;
  justify-content: start;
  align-items: center;
}
.management_invoi_swap ul {
  list-style: none;
}
.management_invoi_swap li {
  font-size: 16px;
}
.management_invoi_swap li:nth-child(1) {
  border-bottom: 2px solid #e98080;
}
.management_invoi_swap li {
  margin-right: 20px;
  padding-bottom: 3px;
}
.management_invoi_body {
  padding: 0 50px;
}
.management_invoi_names {
  display: grid;
  grid-template-columns: 1fr 2fr 8fr 3fr 3fr 3fr 5fr 2fr;
  padding: 25px 0;
  place-items: center;
  font-size: 16px;
  color: #717274;
}
.management_invoi_items {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 2fr 8fr 3fr 3fr 3fr 5fr 2fr;
  padding: 15px 0;
  place-items: center;
  border: 1px solid var(--hover-background);
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 16px;
}
.checkbox {
  height: 15px;
  width: 15px;
}
.management_invoi_items .button {
  padding: 5px 25px;
  border-radius: 12px;
  color: var(--secondary-color);
  border: none;
}
.dots_name {
  cursor: pointer;
}
.Over {
  background-color: #e96665;
}
.Pending {
  background-color: #ffc06d;
}
.Queued {
  background-color: #8c8ef1;
}
.management_invoi_footer {
  margin-top: 30px;
}

/* form */
.invoice-form-head {
  padding: 40px;
}
.invoice-form {
  border-radius: 6px;
  overflow-y: auto;
  background-color: #f6f8fa;
  display: none;
  z-index: 2;
  width: 900px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.invoice-row {
  display: flex;
}
.invoice-item input,
.invoice-item select {
  font-size: 16px;
  background-color: #f6f8fa;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 2px solid var(--main-color-2);
}
.invoice-item {
  width: 50%;
  padding: 20px 40px;
}
/* add item */
.additem {
  width: 100%;
  height: 300px;
  background-color: #f6f8fa;
}
.additem .additem-body .warp-items {
  overflow-y: scroll;
  height: 70%;
}
.additem .additem-body {
  counter-reset: stt;
  height: 100%;
}
.additem .additem-body .titles {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  padding: 25px 0;
  place-items: center;
  font-size: 16px;
}
.additem .additem-body .items {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  place-items: center;
  border-radius: 4px;
  padding: 10px 0;
  counter-reset: unset;
  position: relative;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
}
.additem .additem-body .items::before {
  counter-increment: stt;
  content: " " counter(stt) " ";
  position: absolute;
  left: 21px;
  top: 9px;
}

.additem .additem-body .items .item > input {
  background-color: var(--secondary-color);
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: 2px solid var(--main-color-2);
  padding-left: 5px;
}

.invoice-row-total {
  flex-direction: column;
  display: flex;
  align-items: end;
  text-align: right;
  background-color: #f6f8fa;
}
.options {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 20px 20px;
  background-color: #f6f8fa;
}
.button-icon {
  --ui-background: #5f50f1;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  outline: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ui-background);
  font-weight: bold;
}
.addsym {
  cursor: pointer;
}
.overlay3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
