.view-stock {
  padding: 50px 60px;
}
.view-stock-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stock-table-headr {
  width: 100%;
  height: min-content;
}
.table-tools {
  background-color: var(--main-color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
.table-tools h3 {
  font-size: 30px;
  font-weight: 100;
  color: var(--bg-content-page);
}
.table-tools .add_button {
  font-size: 16px;
  color: var(--secondary-color);
  background-color: #04589c;
  border: 1px solid #04589c;
  padding: 5px;
  cursor: pointer;
}
.table-tools .add_button:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
.stock-table-headr .table-tools {
  height: 50%;
}
.stock-table-headr .table-title {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 2fr 1fr;
  font-size: 20px;
  background-color: var(--main-color-2);
}
.stock-table-headr .title {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}
.stock-table-body {
  width: 100%;
}
.stock-table-body .table-body {
  height: 350px;
  width: 100%;
}
.stock-table-body .row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 2fr 1fr;
  font-size: 20px;
  width: 100%;
}
.stock-table-body .row .title:last-child {
  display: flex;
  justify-content: space-around;
}

.stock-table-body .title {
  border: 1px solid;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stock-table-headr .table-foot {
  width: 100%;
}
.pagination {
  display: flex;
  justify-content: end;
  margin-right: 40px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: var(--main-color-2);
  color: var(--secondary-color);
  border-radius: 5px;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.bxs-edit {
  color: var(--main-color-2);
  font-size: 23px;
}
.bx-trash {
  font-size: 23px;
  color: var(--notify);
}
.dataTable {
  height: 500px;
  overflow-y: scroll;
}
.additem {
  width: 900px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  display: none;
}
.additem h4 {
  text-align: center;
  font-size: 30px;
  height: 20%;
}
.additem .additem-body {
  counter-reset: stt;
  height: 65%;
}
.additem .additem-body .titles {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 1fr 3fr;
  padding: 25px 0;
  place-items: center;
  font-size: 16px;
  color: #717274;
}
.additem .additem-body .warp-items {
  overflow-x: scroll;
  height: 70%;
}
.additem .additem-body .items {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 1fr 3fr;
  place-items: center;
  border: 1px solid;
  padding: 10px 0;
  counter-reset: unset;
  position: relative;
  margin-bottom: 10px;
}
.additem .additem-body .items::before {
  counter-increment: stt;
  content: " " counter(stt) " ";
  position: absolute;
  left: 21px;
  top: 9px;
}

.additem .additem-body .addsym {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  border: 1px solid var(--hover-background);
  padding: 5px;
  cursor: pointer;
}
.additem .additem-body .addsym:hover {
  border: 1px solid black;
}

.additem .additem-body .items .item > input {
  width: 100%;
  height: 20px;
  border-radius: 4px;
  padding-left: 5px;
}
.additem .additem-body .items .item:last-child {
  position: relative;
}
.additem .additem-body .items .item:last-child > .bx-trash {
  position: absolute;
  right: -30px;
  top: -2px;
  cursor: pointer;
}
.additem .additem-footer {
  height: 15%;
}
.delete-row {
  border-radius: 10px;
  width: 400px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.edit-row {
  display: none;
  border-radius: 10px;
  width: 900px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.❤ {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
}

.options {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 0 20px;
}

.edit-row {
  border: 1px solid #ccc;
}

.list-edit-item input {
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
.delete-row-confirm {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.overlay3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.button-icon {
  --ui-background: #5f50f1;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  outline: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ui-background);
  font-weight: bold;
}
