:root {
  --main-color: #11101d;
  --bg-color: #1d1b31;
  --secondary-color: #fff;
  --main-color-2: #2196f3;
  --notify: #d9534f;
  --bg-content-page: #eeeeee;
  --hover-background: #c3c2c8;
  --blue: #0000ff;
  --pink: #ff6d6d;
}
